PORT=3000
SERVER=true
REQUEST_TIMEOUT=3000
RPC_ENDPOINT=https://celestia-mainnet-rpc.itrocket.net
API_ENDPOINT=https://celestia-api.polkachu.com
IP_API_ENDPOINT=http://ip-api.com/json
NETWORK=celestia
MAX_RECURSION_DEPTH=10
UPDATE_INTERVAL_MINUTES=15
DATABASE_PATH=./nodes.db

